<body style="background-color: black;">
  <h1 style="color: aliceblue;">Seccion en construccion <h5><a href="/" style="color: #0026ff;">Volver</a></h5></h1>
  <h4 style="color: rgb(255, 255, 255);">Esta pagina estar disponible hasta el 24 de febrero a las 00:00hr</h4>
</body>