<%- include ("templates/encabezado")%>
<%- include ("templates/menu")%>
<!-- Price section start -->
<div id="price" class="section secondary-section">
    <div class="container">
        <div class="price-table row-fluid">
            <div class="span4 price-column ">
                <h3>Emprendedor</h3>
                <ul class="list">
                    <li class="price marca">8,500</li>
                    <li>Aplicaciones web</li>
                    <li>Paginas web</li>
                    <li>Catálogo online</li>
                    <li>Blog</li>
                    <li>Ecommerce</li>
                </ul>
                <a href="#" class="button button-ps">Contactar</a>
            </div>
            <div class="span4 price-column">
                <h3>Experto</h3>
                <ul class="list">
                    <li class="price">$39,99</li>
                    <li><strong>Free</strong> Setup</li>
                    <li><strong>24/7</strong> Support</li>
                    <li><strong>25 GB</strong> File Storage</li>
                </ul>
                <a href="#" class="button button-ps">Contactar</a>
            </div>
            <div class="span4 price-column">
                <h3>Profesional</h3>
                <ul class="list">
                    <li class="price">$79,99</li>
                    <li><strong>Free</strong> Setup</li>
                    <li><strong>24/7</strong> Support</li>
                    <li><strong>50 GB</strong>Contactar</li>
                </ul>
                <a href="#" class="button button-ps">Contactar</a>
            </div>
        </div>
        
    </div>
</div>
<!-- Price section end -->

<%- include ("templates/pie")%>